* {
  margin: 0;
  padding: 0;
  font-size: 25px;
}

body {
  font-family: "IBM Plex Mono";
  background-color: beige;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body h1 {
  margin-bottom: 10px;
}

.container {
  width: 375px;
  height: 500px;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
  border: 3px solid cornflowerblue;
}
.display {
  height: 100px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-bottom: 5px;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 60px;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

button {
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
  background-color: lavender;
}


.operator {
  color: cornflowerblue;
}
